/*
.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

.headline h2 {
  color: white;
  letter-spacing: 0.05em;
  font-variant: small-caps;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal a {
  color: white;
}

.reveal a:hover {
  color: white;
  font-weight: bold;
}
*/



@import url('https://raw.githubusercontent.com/dinc5150/Presentations/Fasttracking-Umbraco-development/assets/css/typography.css');





ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #f1592a; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}