@import url('https://www.digitalmomentum.com.au/less/presentations/gitpitch.css');

body{
  font-family: 'Open Sans', sans-serif !important;
  color: #635147;
}

.reveal h1, .reveal h2, .reveal h3, .reveal ul{
  color: #635147;
  text-shadow: none;
}

.reveal h1, .reveal h2, .reveal h3{
  font-family: 'Cutive', serif !important;
  
  font-weight: 300;
  text-transform: none;
}

.reveal h1{
    font-size: 2em;
}

.reveal h2{
  font-size: 1.8em;
}
.reveal h3{
  font-size: 1.2em;
}


/*@import url('http://127.0.0.1:5500/assets/css/typography.css');*/




.reveal ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #f1592a; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -0.9em; /* Also needed for space (tweak if needed) */
}