@import url('https://fonts.googleapis.com/css?family=Cutive|Open+Sans');

body{
    font-family: 'Open Sans', sans-serif !important;
    color: #635147;
  }
  
  .reveal h1, .reveal h2, .reveal h3, .reveal ul{
    color: #635147;
}

  .reveal h1, .reveal h2, .reveal h3{
    font-family: 'Cutive', serif !important;
    
    font-weight: 300;
    text-transform: none;
  }

 .reveal h1{
      font-size: 2em;
  }

  .reveal h2{
    font-size: 1.8em;
}
.reveal h3{
    font-size: 1.2em;
}