@import url('https://fonts.googleapis.com/css?family=Cutive|Open+Sans');

body{
    font-family: 'Open Sans', sans-serif !important;
    color: #635147;
  }
  
  h1, h2{
    font-family: 'Cutive', serif !important;
    color: #635147;
    font-weight: 700;
  }

  h1{
      font-size: 2em;
  }